@{
    ViewData["Title"] = "Home Page";
}
<!--Change-->
    <a href="C:\Users\silpa.km\source\repos\O3BookingApplication\FromGitHUb\O3BookingApplication\Views\Home\Index.cshtml">C:\Users\silpa.km\source\repos\O3BookingApplication\FromGitHUb\O3BookingApplication\Views\Home\Index.cshtml</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
